.positions {
    display: flex;
    width: 100%;

    .content {
        margin: 20px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .content_header {
            display: flex;
            justify-content: space-between;
            
            p {
                font-size: 36px;
                line-height: 55px;
            }

            a {
                text-decoration: none;
            }
        }
    }
    
    .content_body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: left;

        a {
            color: #FF6800;
            text-decoration: none;
        }

        .columns_header {
            width: 100%;
        }
    }
    .content-notification {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}