.positions {
    display: flex;
    width: 100%;

    .content {
        margin: 20px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .content_body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: left;

        a {
            color: #4D4D4D;;
            text-decoration: none;
        }

        .columns_header {
            width: 100%;
        }
    }
    .content-notification {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}