* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.direction {
  display: flex;
  flex-direction: row; 
}

.column {
  width: 48%;
}

.App {
  display: flex;
  flex-direction: row;
}

.label {
  color: #666666;
  font-size: 16px;
}

.columns_header {
  width: 100%;
  tr {
    border-bottom: 1px solid #E6E6E6;

    th {
      color: #1A1A1A;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    td {
      color: #4D4D4D;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      height: 62px;
    }
  }
}

.list-icons {
  color: #000000;
}

.tabs {
  border: 1px solid #E6E6E6;
  border-top:1px solid #FF6800;
  margin: 10px 10px;

  button {
    background-color: white;
    color: #1A1A1A;
    height: 44px;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    border:none;
    border-right: 1px solid #E6E6E6;
    
    &:first-child {
      border-left: 1px solid #E6E6E6;
    }
  }

  .tabs_header {
    border-bottom: 1px solid #E6E6E6;
    opacity: 0.3;
  }
  
  .tabs_header-active {
    opacity: 1;
  }

  .tabs_body {
    padding: 30px 30px;
    p {
      color: #1A1A1A;
      font-size: 18px;
      padding: 10px 0;
    }
  }
}