.newdepartment {
    display: flex;
    width: 100%;

    .newdepartment_menu {
        margin: 20px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    
            .newdepartment_menu {
                margin: 20px 40px;
                width: 100%;
                display: flex;
                flex-direction: column;
        
                .newdepartment_content {
                    width: 100%;
                }
        }
        .newdepartment_content-button {
            display: flex;
            margin-top: 40px;
        }
    }
    
    .columns_header {
        td {
            text-align: left;
        }
    }
}
