.content-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: left;

    a {
        color: #4D4D4D;;
        text-decoration: none;
    }

    img {
        border: 1px solid #4D4D4D;
        border-radius: 50px;
        padding: 3px;
    }

    .spacer {
        flex-grow: 1;
    }
}