.newuser {
    display: flex;
    width: 100%;

    .newuser_menu {
        margin: 20px 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .newuser__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .newuser_body {
        display: flex;
    }
    .newuser_conten1 {
        width: 50%;

        .newuser_conten1-button {
            display: flex;
            margin-top: 40px;
        }
    }
    .newuser_conten2 {
        width: 50%;

        img {
            margin-left: 80px;
            margin-top: 60px;
            padding-top: 20px;
            border: 1px solid #CCCCCC;
        }
    }

    .newuser__button {
        display: flex;
    }

    .content-notification {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}